@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


body {
    font-family: 'Open Sans', serif;
    color: #7f8c8d;
    background-color: #fefefe;
    margin-top: 2em;
}

h1, h2, h3 {
    font-family: 'Slabo 27px', sans-serif;
}

#navbar > ul {
    display: block;
    text-align-last: end;
    margin: 0px 0px 0px 0px;
}

#navbar > ul > li {
    margin-right: 2%;
    display: inline-block;
    border-bottom: solid #7f8c8d 2px;
    position: relative;
}

.nav-link {
    width: 100%;
    height: 100%;
    margin: 0;
    text-decoration: none;
}

a {
    color: #7f8c8d;
}

img {
    border-radius: 40%;
    margin-bottom: 1%;
}

#intro {
    font-size: 4em;
    display: block;
}

#about {
    text-align: center;
}

#fancy {
    color: #7f8c8d;
}

.icon-bar {
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
}

.facebook {
  /* background: #3B5998; */
  /* background: #111111; */
}

.twitter {
  /* background: #55ACEE; */
  /* background: #111111; */
}

.instagram {
  /* background: #111111; */
}

.linkedin {
  /* background: #007bb5; */
  /* background: #111111; */
}

.youtube {
  /* background: #bb0000; */
  /* background: #111111; */
}
